.input-field{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10%;
    border: solid 1px #000;
    background-color: #fff;
}
.btn{
    background-color: #233d54;
    color: #fff;
    padding: 10px;
    width: 40%;
    border-radius: 12px;
    font-size: 17px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}