.profile-img{
    width: 220px;
    border-radius: 120px;
    height: 220px;
    display: block;
    margin: 0 auto;
}
.black-row {
    background-color: #dedede;
    color: #000; /* Change text color to white or any desired color */
  }
  
