<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="    padding: 15px;">
    <h1>Vision:</h1>
    <p>To be a ‘Centre of Excellence’ in school examination and assessment informed by research and innovation and integrated with technology for raising education standard in order to enable young generation to compete nationally and globally.</p>
    <h1>Mission:</h1>
    <p style="margin-bottom:15%">To conduct fair, transparent and authentic Secondary School Certificate (SSC), Higher Secondary Certificate (HSC) and other examinations for assessing student learning outcomes which are valued by higher education institutions nationally and globally.</p>
    <h1 style="    margin-top: 30px;
    text-align: center;
    margin-bottom: 10%;
    font-weight: bold;">Our Team</h1>
    <div style="text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;">
      <!-- <img class="male-img" src="../../assets/images/pexels-simon-robben-614810.jpg"> -->
      
      <h2>Prof. Dr Muhammad Memon</h2>
       <span style="    border: solid 1px #000;
      padding: 5px;">Chairman</span>
      <p style="    font-size: 12px;">Chairman, BISE, Hyderabad</p>
    </div>
    <div style="text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;">
      <!-- <img class="male-img" src="../../assets/images/pexels-simon-robben-614810.jpg"> -->
      
      <h2>Prof. Dr. Muhammad Aslam Uqaili</h2>
       <span style="    border: solid 1px #000;
      padding: 5px;">Vice Chancellor</span>
      <p style="    font-size: 12px;">Mehran University of Engineering & Technology
        Jamshoro</p>
    </div>
    <div style="text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;">
      <!-- <img class="male-img" src="../../assets/images/pexels-simon-robben-614810.jpg"> -->
      
      <h2>Prof. Abdullah Mallah</h2>
       <span style="    border: solid 1px #000;
      padding: 5px;">Principal</span>
      <p style="    font-size: 12px;">Government Boys Degree College
        Badin</p>
    </div>
    <div style="text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;">
      <!-- <img class="male-img" src="../../assets/images/pexels-simon-robben-614810.jpg"> -->
      
      <h2>Mr. Gahanwer Ali Laghari</h2>
       <span style="    border: solid 1px #000;
      padding: 5px;">Additional Secretary (Boards)</span>
      <p style="    font-size: 12px;">Chief Minister Secretariat Sindh
        Karachi</p>
    </div>

    <div style="text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;">
      <!-- <img class="male-img" src="../../assets/images/pexels-simon-robben-614810.jpg"> -->
      
      <h2>Mr. Abdul Hafeez Abro</h2>
       <span style="    border: solid 1px #000;
      padding: 5px;">Regional Director</span>
      <p style="    font-size: 12px;">Sindh Technical Education & Vocational Training Authority
        Hyderabad</p>
    </div>
    <div style="text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;">
      <!-- <img class="male-img" src="../../assets/images/pexels-simon-robben-614810.jpg"> -->
      
      <h2>Mr. Inayat Baloch</h2>
       <span style="    border: solid 1px #000;
      padding: 5px;">Ex-Member of Public Service Commissionr</span>
      <p style="    font-size: 12px;">Paint House S.M Residency Naseem Nagar Qasimabad
        Hyderabad</p>
    </div>
    <div style="text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;">
      <!-- <img class="male-img" src="../../assets/images/pexels-simon-robben-614810.jpg"> -->
      
      <h2>Mr Akhtar Hussain Ghori</h2>
       <span style="    border: solid 1px #000;
      padding: 5px;">Chairman Intermediate Education</span>
      <p style="    font-size: 12px;">Karachi</p>
    </div>
    <div style="text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;">
      <!-- <img class="male-img" src="../../assets/images/pexels-simon-robben-614810.jpg"> -->
      
      <h2>Mr. Fasih-ud-din Khan</h2>
       <span style="    border: solid 1px #000;
      padding: 5px;">Chairman</span>
      <p style="    font-size: 12px;">Board of Technical Education
        Karachi</p>
    </div>
    <div style="text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;">
      <!-- <img class="male-img" src="../../assets/images/pexels-simon-robben-614810.jpg"> -->
      
      <h2>Mr. Anwar Ahmed Zai</h2>
       <span style="    border: solid 1px #000;
      padding: 5px;">Chairman (In-charge)</span>
      <p style="    font-size: 12px;">Board of Intermediate and Secondary Education
        Mirpurkhas</p>
    </div>
    <div style="text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;">
      <!-- <img class="male-img" src="../../assets/images/pexels-simon-robben-614810.jpg"> -->
      
      <h2>Prof. Syed Ghulam Mujtaba Shah</h2>
       <span style="    border: solid 1px #000;
      padding: 5px;">Chairman</span>
      <p style="    font-size: 12px;">Board of Intermediate and Secondary Education
        Sukkur</p>
    </div>
    <div style="text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;">
      <!-- <img class="male-img" src="../../assets/images/pexels-simon-robben-614810.jpg"> -->
      
      <h2>Prof. Muhammad Dawood Memon</h2>
       <span style="    border: solid 1px #000;
      padding: 5px;">Chairman</span>
      <p style="    font-size: 12px;">Board of Intermediate and Secondary Education
        Larkana</p>
    </div>
    <div style="text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;">
      <!-- <img class="male-img" src="../../assets/images/pexels-simon-robben-614810.jpg"> -->
      
      <h2>Prof. Abdul Qadir Khoro</h2>
       <span style="    border: solid 1px #000;
      padding: 5px;">Director College Education</span>
      <p style="    font-size: 12px;">Hyderabad Region
        Hyderabad</p>
    </div>
    <div style="text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;">
      <!-- <img class="male-img" src="../../assets/images/pexels-simon-robben-614810.jpg"> -->
      
      <h2>Syed Rasool Bux Shah</h2>
       <span style="    border: solid 1px #000;
      padding: 5px;">Director School Education</span>
      <p style="    font-size: 12px;">Hyderabad Region
        Hyderabad</p>
    </div>
  </div>  
</ion-content>
