<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Downloads
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <p style="margin-left: 24px;">
    
    </p>
    <div>
      <h1 style="margin-left: 5%;">Tender Result </h1>
      <ion-list>
        <ion-item>
          <!-- <span class="span-css">HSSC-I</span> -->
         
            <a href="https://firebasestorage.googleapis.com/v0/b/biseh-7ad67.appspot.com/o/download%2Fsheet?alt=media" class="noti-app-call">Result of Tender Technical & Financial 2017-18</a>
           
          <!-- <ion-icon class="icon-adjustment" slot="end" name="chevron-forward-outline"></ion-icon> -->
        </ion-item>
      </ion-list>
      <h1 style="margin-left: 5%;">Application Forms for Certificate </h1>
      <ion-list>
        <ion-item>
          <!-- <span class="span-css">HSSC-I</span> -->
         
            <a href="https://firebasestorage.googleapis.com/v0/b/biseh-7ad67.appspot.com/o/download%2Fsheet1?alt=media" class="noti-app-call">APPLICATION FORM FOR A DUPLICATE PACCA CERTIFICATE  S.S.C-II</a>
           
          <!-- <ion-icon class="icon-adjustment" slot="end" name="chevron-forward-outline"></ion-icon> -->
        </ion-item>
        <ion-item>
          <!-- <span class="span-css">HSSC-I</span> -->
         
          <a href="https://firebasestorage.googleapis.com/v0/b/biseh-7ad67.appspot.com/o/download%2Fsheet2?alt=media" class="noti-app-call">APPLICATION FORM FOR A DUPLICATE  PACCA CERTIFICATE  H.S.C-II</a>
           
          <!-- <ion-icon class="icon-adjustment" slot="end" name="chevron-forward-outline"></ion-icon> -->
        </ion-item>
        <ion-item>
          <!-- <span class="span-css">HSSC-I</span> -->
          
          <a href="https://firebasestorage.googleapis.com/v0/b/biseh-7ad67.appspot.com/o/download%2Fsheet3?alt=media" class="noti-app-call">APPLICATION FORM FOR CERTIFICATE OF ELIGIBILITY</a>
           
          <!-- <ion-icon class="icon-adjustment" slot="end" name="chevron-forward-outline"></ion-icon> -->
        </ion-item>
        <ion-item>
          <!-- <span class="span-css">HSSC-I</span> -->
          
           <a href="https://firebasestorage.googleapis.com/v0/b/biseh-7ad67.appspot.com/o/download%2Fsheet4?alt=media" class="noti-app-call">APPLICATION FORM FOR THE MIGRATION CERTIFICATE</a>
           
          <!-- <ion-icon class="icon-adjustment" slot="end" name="chevron-forward-outline"></ion-icon> -->
        </ion-item>
      </ion-list>
    </div>
</ion-content>
