<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div>
      <p class="text-align-mm" style="    width: 90%;
      margin-left: 5%;">LIST OF TELEPHONE NUMBERS OF OFFICERS B.I.S.E. HYDERABAD</p>
      <div style="text-align: center;">
        <img class="icon-img" src="../../assets/images/ytd.png">
        <img style="    width: 47px;" class="icon-img" src="../../assets/images/229098.png">
        <img style="    width: 46px;
        position: relative;
        top: -2px;" class="icon-img" src="../../assets/images/blue-logo-twitter-birds-emblem-3.png">
        <img style="    width: 43px;" class="icon-img" src="../../assets/images/LinkedIn_icon_circle.svg.png">
        <img style="    width: 39px;" class="icon-img" src="../../assets/images/new-Instagram-logo-png-full-colour-glyph.png">
        <img style="    width: 39px;" class="icon-img" src="../../assets/images/logo-website-website-icon-with-png-and-vector-format-for-unlimited-22.png">
      </div>
      <div class="contactus-div">
        <ion-accordion-group style="margin-bottom: 30px;">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>	NAME WITH DESIGNATION</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p>Dr. Ahmed Ali Brohi
                (Chairman)</p>
              <p>Ph: 3029260271</p>
              <p>Fax: 9260276</p>
            </div>
            <div class="ion-padding" slot="content">
              <p>Secretary</p>
              <p>Ph: 3039260273</p>
              <p>Fax: 3039260272</p>
            </div>
            <div class="ion-padding" slot="content">
              <p>Dr. Masroor Ahmed Zai
                Controller of EXAMS (Add:)</p>
              <p>Ph: 3229260275</p>
              <p>Fax: 3229260274</p>
            </div>
            <div class="ion-padding" slot="content">
              <p>Mr. Aijaz Ahmed Khan
                I.T. Manager</p>
              <p>Ph: 3319260357</p>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group style="margin-bottom: 30px;">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Complaint</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p>Telephone Exchange</p>
              <p>Ph: 3389260277-78 <br> 3389260281-82-83</p>

              <p>E-mail: info@gmail.com</p>
              <p>Landline No: 021-222-111-11111</p>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group style="margin-bottom: 30px;">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Location</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d462117.052962404!2d66.82581651692442!3d25.19345856839425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33e06651d4bbf%3A0x9cf92f44555a0c23!2sKarachi%2C%20Karachi%20City%2C%20Sindh%2C%20Pakistan!5e0!3m2!1sen!2s!4v1691484076470!5m2!1sen!2s" height="450" style="border:0;width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </div>
</ion-content>
