<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Fee/Due
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div>
      <p class="text-align-mm">

      </p>
      <div class="contactus-div">
        <h2 style="margin-bottom: 15px;">Enrollment Fees</h2>
        <a href="https://firebasestorage.googleapis.com/v0/b/biseh-7ad67.appspot.com/o/fee%2Fsheet1?alt=media">Enrollment Fee IX</a>
        <br><br>
        <a href="https://firebasestorage.googleapis.com/v0/b/biseh-7ad67.appspot.com/o/fee%2Fsheet2?alt=media">Enrollment Fee XI</a>
      </div>
    </div>
</ion-content>
